body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #66023c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
}

.content {
    padding: 20px;
}

footer {
    background-color: #66023c;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer ul {
    padding: 0;
    list-style-type: none;
}

footer ul li {
    display: inline;
    margin-right: 20px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
}

.text-right {
    text-align: right;
}



footer {
    font-size: 14px; /* تصغير حجم النص */
    padding: 10px; /* إضافة تباعد بين العناصر داخل التذييل */
}

footer ul {
    padding-inline-start: 0; /* إزالة التباعد الافتراضي لقائمة الروابط */
}

footer ul li {
    display: inline; /* عرض الروابط بجانب بعضها البعض */
    margin-right: 10px; /* تباعد بين الروابط */
}
